#settings {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#user-account {
    margin: 7vh auto 5vh auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

#user-account #account-menu {
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    width: 225px;
    max-width: 90%;
    margin-top: 185px;
}

#user-account #account-settings {
    width: 370px;
    max-width: 90%
}
