.visualizer-and-tags {
    display: flex;
    flex-wrap: wrap;
}

.all_visuals {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /*color: #dd4b49;*/
}
