#user-account-vue {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

#user-account {
    display: inline-block;
    width: 750px;
    height: 800px;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}

#user-account-logo {
    display: block;
    width: 120px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.account-menu {
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 30%;
}

.account-tab-content {
    margin-top: -10px;
    float: right;
    width: 400px;
}

#account-menu-title {
    padding-left: 10px;
    padding-bottom: 0.4em;
}

#account-2fa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    min-width: 400px;
}

#account-2fa-qr-img {
    width: 40%;
    margin-left: 30%;
}

#account-2fa-title {
    text-align: center;
}

.tab-button {
    padding-left: 10px;
    display: block;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 100%;
    background-color: white;
    text-align: left;
}
.tab-button:hover {
    background: rgb(233, 236, 239);
}

.tab-button.active {
    background: rgb(233, 236, 239);
}

.account-menu-subtitle {
    font-size: 1.2em;
    font-weight: 350;
}

.user-account-settings .btn {
    width: 60%;
}

.btn-success {
    background-color: #4CAF50;
}

.message-emphasis {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 5px 0px 10px;
    font-size: 0.8em;
}
.error-message {
    color: #dc0000!important;
}

.spinner-border {
    margin-right: 1em;
}

.exit-logo {
    cursor: pointer;
    float: right;
}
