.auth-content {
    display: block;
    width: 24em;
    margin: 10vh auto 10vh auto;
}

#auth-content-logo {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

#auth-content-title {
    margin-bottom: 2rem;
    text-align: center;
}

.error-message {
    color: red;
}

.btn-tab {
    padding: 0;
    background-color: white;
    border: none;
    color: #0073e6;
}

.btn-tab--underlined {
    text-decoration: underline;
}

.btn {
    width: 100%;
}

.btn-success {
    background-color: #4CAF50;
}

#pwd-reset-link {
    font-size: 0.8em;
}

#help-message {
    margin-bottom: 1em;
    font-size: 0.85em;
    background-color: #A09C9C70;
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    border-radius: 5px;
}