.visualizer-and-tags{
    display: flex;
    flex-wrap: wrap;
}

.all_visuals {

    display: flex;
    height: 500px;
    margin-top: 50px;
    flex-wrap: wrap;
}

#search_bar {

}

.card {
    margin: 10px;
}