/*#bwt-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#login-title {
    text-align: center;
}

.login-form {
    display: inline-block;
    width: 400px;
    height: 400px;
    position: absolute;
    margin: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 5px;
    padding-left: 5px;

}*/

#reset-pwd-link {
    font-size: 0.8em;
    text-decoration: none;
}

#reset-pwd-message {
    color: #373837;
}
#login-form-container, #register-form-container, #reset-pwd-form-container {
    display: inline-block;
    position: absolute;
    width: 400px;
    margin: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 5px;
    padding-left: 5px;
}

.login-header, .register-header, .reset-pwd-header {
    text-align: center;
}

.error-message {
    color: #dc0000!important;
}

.btn-submit {
    background: #4CAF50;
    color: white;
    width: 100%;
}