.container__home {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

#diagram-editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
