@import "auth.css";
@import "buttons.css";
@import "navbar.css";

#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container__navbar {
    position: absolute;
    z-index: 100;
    right: 1vw;
    margin-top: 2px;
}

.container__home {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: white;
}

.container__page {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: white;
}

#diagram-editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.error-message {
    font-size: 0.9em;
    color: #dc3545;
}
