#body{
    background-color: white;
}
#threats_button{
    float: left;
}

#consequences_button{
    float: right;
}
#threats_button:disabled{
     color: rgba(0,0,0,0.87);
     color:var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87))
 }
#threats_button{
    color:rgba(0,0,0,0.26);
    color:var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.26))
}
#consequences_button:disabled{
    color: rgba(0,0,0,0.87);
    color:var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87))
}
#consequences_button{
    color:rgba(0,0,0,0.26);
    color:var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.26))
}
#highest_risk-value_image{
    width: 85%;
    height: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.buttons_container{
    height: 50px;
    display: block;
}

.table_container{
    padding-top : 20px;
}
.description {
     width: 70%;
 }
.md-field {
    padding-top: 0;
    padding-right: 0;
    margin: 0 0 0;
    min-height: 32px;
    width: 75px;
}
.md-field .md-input{
    font-size: 13px;
}

.numeric_input{
    text-align: right;
    width: inherit;
}
.risk_value{
    text-align: right;
}
.result_container{
    padding-top : 30px;
}

.result_description{
    width: 70%;
}
.result_value{
    width : 35%;
}
img:not(.md-image){
    margin-left: 17%;
    margin-right: 17%;
    height: 69px;
}





