#statistics-title{
    text-align: center;
}

.image {
    text-align: center;
}

.statistics-components {
    background-color: #82E0AA;
    border-radius: 10px;
    margin : 30px;
    box-shadow: 10px 5px 10px #585858C4;
    vertical-align: center;
    text-align: center;
    font-size : 20px;
}