@import "main.css";

.valid-container {
    display: block;
    width: 25em;
    margin: 10vh auto 10vh auto;
    padding: 1em;
}

#auth-content-title {
    margin-bottom: 2rem;
    text-align: center;
}