<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script type="text/javascript">
        mxBasePath = '../../lib/mxgraph/src';
    </script>
    <script type="text/javascript" src="../js/Init.js"></script>

    <script type="text/javascript" src="../../lib/mxgraph/src/js/mxClient.js"></script>
    <link rel="stylesheet" href="../css/account.css">
</head>
<body>
<div id="user-account-container" class="shadow">
    <div v-if="!isUserAuthenticated">
        <p>Sorry, but you can't access this page : your not authenticate.</p>
    </div>
    <div v-else>
        <div id="img-bowtie-user">
            <img src="../images/bowtie-user.svg">
        </div>
        <div class="account-menu-container">
            <div class="account-menu">
                <div id="account-menu-title"><b>Account settings</b></div>
                <button
                        v-for="tab in tabs"
                        v-bind:key="tab"
                        v-bind:class="['tab-button', { active: currentTab === tab }]"
                        v-on:click="currentTab = tab"
                >{{ tab.replace('-', ' ') }}</button>
            </div>
        </div>
        <div class="account-tab-content">
            <keep-alive>
                <account-profile-component v-if="currentTab === 'Profile'" :user-name="userInfo.name" :user-email="userInfo.email"></account-profile-component>
                <account-security-component v-else-if="currentTab === 'Security'"></account-security-component>
                <account-danger-zone-component v-else="currentTab === 'Danger-Zone'" :auth-token="this.userInfo.authToken"></account-danger-zone-component>
            </keep-alive>
        </div>
    </div>
</div>

<script type="text/x-template" id="account-profile-template">
    <div class="account-profile">
        <h2 class="mb-3">Profile</h2>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input v-model="userName" class="form-control" id="username" disabled>
        </div>
        <div>
            <label for="email" class="form-label">Email address</label>
            <input v-model="userEmail" class="form-control" id="email" disabled>
        </div>
    </div>
</script>

<script type="text/x-template" id="account-security-template">
    <div class="account-security">
        <h2 class="mb-3">Security</h2>
        <form nonvalidate="true">
            <div class="mb-3">
                <p class="menu-subtitle">Password</p>
                <div class="mb-2">
                    <label class="form-label" for="user-password">Actual password</label>
                    <input v-model="userPassword" class="form-control" type="password" id="user-password">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="new-password">New password</label>
                    <input v-model="newPassword" class="form-control" type="password" id="new-password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirm-password">Confirm new password</label>
                    <input v-model="confirmPassword" class="form-control" type="password" id="confirm-password">
                </div>
                <div class="mb-4">
                    <button type="button" class="btn btn-dark">Update password</button>
                </div>
            </div>
        </form>
        <div class="mb-3">
            <p class="menu-subtitle">Two-factor authentication</p>
            <div class="mb-3 message-emphasis">
                <p><b>Two factor authentication is not enabled yet.</b><br>
                    Two factor authentication allows your authentication to not just be based on a simple password.</p>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-success btn-submit">Activate 2FA</button>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="account-danger-zone-template">
<div class="account-danger-zone">
    <h2 class="mb-3">Danger zone</h2>
    <p class="menu-subtitle">Delete my account</p>
    <div class="mb-3 message-emphasis">
        <p><b><span style="color:red">WARNING</span> : Delete your account is NOT reversible.</b><br>
            By deleting your account, you assume that all your data will be erased from our database. You won't be able to recover your account after that.</p>
    </div>
    <form nonvalidate="true">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input v-model="userPassword" class="form-control" type="password" id="password">
            <p v-show="errors.emptyPasswordErr.show && userPassword === ''" class="mt-1 error-message">{{ errors.emptyPasswordErr.message }}</p>
        </div>
        <button type="button" class="btn btn-danger" v-on:click="deleteAccountSubmit">Delete my account</button>
    </form>
</div>

</script>

<script type="text/javascript" src="../vue/components/UserAccountComponent.js"></script>
</body>
</html>