<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bowtie++ authentication</title>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/Init.js"></script>
    <script src="../vue/components/auth/LoginComponent.js"></script>
    <script src="../vue/components/auth/PasswordResetComponent.js"></script>
    <script src="../vue/components/auth/RegisterComponent.js"></script>
    <script src="../vue/components/TheNavbarComponent.js"></script>

    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../css/authentication.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">

</head>
<body>
<div id="auth-vue">
    <the-navbar-component></the-navbar-component>
    <div class="auth-content">
        <img id="auth-content-logo" src="../images/logo.png">
        <h1 id="auth-content-title" > {{ tabTitle }}</h1>
        <login v-if="isCurrentTab('login')" v-on:switch-to-tab="switchToTab($event)" v-bind:clean-error-messages="cleanAllErrors"></login>
        <register v-else-if="isCurrentTab('register')" v-bind:clean-error-messages="cleanAllErrors"></register>
        <password-reset v-else-if="isCurrentTab('password-reset')" v-bind:clean-error-messages="cleanAllErrors"></password-reset>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener('hashchange', () => {
        auth_vue.processUrlHash(location.hash.substring(1));
    })
</script>

<!-- Component templates -->

<script type="text/x-template" id="login-template">
    <div id="login-form">
        <form>
            <div class="mb-3">
                <label for="login-email" class="form-label">Email address</label>
                <input v-model="user.email" id="login-email" class="form-control" placeholder="name@example.com" :disabled="user.twoFactorAuth">
                <p v-show="errors.InvalidEmailErr.show" class="error-message mt-1">{{ errors.InvalidEmailErr.message }}</p>
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input v-model="user.password" type="password" id="login-password" class="form-control" :disabled="user.twoFactorAuth">
                <button v-on:click="$emit('switch-to-tab', 'password-reset')" id="pwd-reset-link" type="button" class="btn-tab">Forgot password?</button>
                <p v-show="errors.InvalidCredentialsErr.show" class="error-message mt-2">{{ errors.InvalidCredentialsErr.message }}</p>
            </div>
            <div v-if="user.twoFactorAuth" class="mb-3">
                <label for="login-totp-code" class="form-label">Enter your 6-digit code</label>
                <input v-model="user.totpToken" id="login-totp-code" class="form-control">
                <p v-show="errors.InvalidTotpCodeErr.show" class="error-message mt-2">{{ errors.InvalidTotpCodeErr.message }}</p>
                <p v-show="errors.ExpiredTotpTokenErr.show" class="error-message mt-2">{{ errors.ExpiredTotpTokenErr.message }}</p>
            </div>
            <button v-on:click="submitLoginForm" type="button" class="btn btn-success">Login</button>
        </form>
        <p class="mt-3">Don't have an account yet ? Please <button v-on:click="$emit('switch-to-tab', 'register')" type="button" class="btn-tab btn-tab--underlined">register</button>.</p>

    </div>
</script>

<script type="text/x-template" id="register-template">
 <div id="register-form">
     <div id="help-message">
         <p>To be valid, a <b>password</b> must :
             <ul>
                <li>Contain at least 9 characters;</li>
                <li>Be a mix of letters (uppercase AND lowercase), digits and special characters.</li>
            </ul>
         </p>
     </div>
     <form>
         <div class="mb-3">
             <label for="register-username" class="form-label">Username</label>
             <input v-model="user.username" type="text" id="register-username" class="form-control" placeholder="Username">
         </div>
         <div class="mb-3">
             <label for="register-email" class="form-label">Email address</label>
             <input v-model="user.email" id="register-email" class="form-control" placeholder="name@example.com">
             <p v-show="errors.InvalidEmailErr.show" class="error-message mt-1">{{ errors.InvalidEmailErr.message }}</p>
         </div>
         <div class="mb-3">
             <label for="register-password" class="form-label">Password</label>
             <input v-model="user.password" type="password" id="register-password" class="form-control">
             <p v-show="errors.WeakPasswordErr.show" class="error-message mt-1">{{ errors.WeakPasswordErr.message }}</p>
         </div>
         <div class="mb-3">
             <label for="register-password-confirm" class="form-label">Password confirmation</label>
             <input v-model="user.passwordConfirm" type="password" id="register-password-confirm" class="form-control">
             <p v-show="errors.ConfirmPasswordErr.show" class="error-message mt-1">{{ errors.ConfirmPasswordErr.message }}</p>
         </div>
         <button v-on:click="submitRegisterForm" type="button" class="btn btn-success">Register</button>
     </form>
     <p v-show="errors.MissingFieldsErr.show" class="error-message mt-2">{{ errors.MissingFieldsErr.message }}</p>
 </div>
</script>

<script type="text/x-template" id="password-reset-template">
    <div>
        <div id="password-reset-email-form" v-if="!isResetEmailSent">
            <form>
                <div class="mb-3">
                    <label for="password-reset-email" class="form-label">Email address</label>
                    <input v-model="user.email" id="password-reset-email" class="form-control" placeholder="name@example.com">
                    <p v-show="errors.InvalidEmailErr.show" class="error-message mt-1">{{ errors.InvalidEmailErr.message }}</p>
                </div>
                <button v-on:click="submitResetEmail" type="button" class="btn btn-success">Send password reset email</button>
            </form>
        </div>
        <div id="password-reset-new-form" v-else>
            <form>
                <div class="mb-3">
                    <label for="password-reset-new" class="form-label">New password</label>
                    <input v-model="user.newPassword" type="password" id="password-reset-new" class="form-control">
                    <p v-show="errors.WeakPasswordErr.show" class="error-message mt-1">{{ errors.WeakPasswordErr.message }}</p>
                </div>
                <div class="mb-3">
                    <label for="password-reset-confirm" class="form-label">Confirm new password</label>
                    <input v-model="user.passwordConfirm" type="password" id="password-reset-confirm" class="form-control">
                    <p v-show="errors.ConfirmPwdErr.show" class="error-message mt-1">{{ errors.ConfirmPwdErr.message }}</p>
                </div>
                <button v-on:click="submitNewPassword" type="button" class="btn btn-success">Reset password</button>
                <p v-show="errors.MissingFieldsErr.show" class="error-message mt-2">{{ errors.MissingFieldsErr.message }}</p>
            </form>
        </div>
    </div>
</script>

<script src="../vue/views/AuthenticationVue.js"></script>
</body>
</html>