<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script type="text/javascript">
        mxBasePath = '../../lib/mxgraph/src';
    </script>
    <script type="text/javascript" src="../js/Init.js"></script>

    <script type="text/javascript" src="../../lib/mxgraph/src/js/mxClient.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
<div id="reset-pwd-vue">
    <the-navbar-component></the-navbar-component>
    <div id="reset-pwd-form-container">
        <div class="mb-4 reset-pwd-header">
            <img id="bwt-logo" class="mb-4" src="../images/logo.png" width="120">
            <h1 id="reset-pwd-title" class="mb-4">{{ title }}</h1>
        </div>
        <user-reset-pwd-component></user-reset-pwd-component>
    </div>
</div>
<script type="text/x-template" id="reset-password">
    <div class="reset-pwd-form">
        <form nonvalidate="true">
            <div v-show="!isResetEmailSent">
                <p id="reset-pwd-message">Please type your account's verified email address to go off the password resetting.</p>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input v-model="userEmail" class="form-control" id="email" placeholder="name@example.com">
                    <p v-show="errors.invalidEmailErr.show && userEmail === ''" class="mt-1 error-message"> {{ errors.invalidEmailErr.message }}</p>
                </div>
                <div class="mb-3">
                    <button v-on:click="resetEmailSubmit" type="button" class="btn btn-success btn-submit">Send password reset email</button>
                </div>
            </div>
            <div v-show="isResetEmailSent">
                <div class="mb-3">
                    <label for="password" class="form-label">New password</label>
                    <input v-model="userPassword" type="password" class="form-control" id="password" placeholder="Enter your new password">
                    <p v-show="errors.unsecuredPwdErr.show && userPassword.length < 8" class="mt-1 error-message"> {{ errors.unsecuredPwdErr.message }}</p>
                    <input v-model="passwordConfirm" type="password" class="mt-2 form-control" id="password-confirmation" placeholder="Confirm password">
                    <p v-show="errors.confirmPwdErr.show && passwordConfirm === ''" class="mt-1 error-message"> {{ errors.confirmPwdErr.message }}</p>
                </div>
                <div class="mb-3">
                    <button v-on:click="newPasswordSubmit" type="button" class="btn btn-success btn-submit">Update password</button>
                </div>
                <p v-show="errors.missingFieldsErr.show" class="error-message"> {{ errors.missingFieldsErr.message }}</p>
            </div>

        </form>
    </div>
</script>
<script src="../vue-components/TheNavbarComponent.js"></script>
<script src="../vue-components/UserResetPwdComponent.js"></script>

</body>
</html>