<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <title>Risk computation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        mxBasePath = '../../lib/mxgraph/src';
    </script>
    <script type="text/javascript" src="../js/Init.js"></script>
    <script type="text/javascript" src="../js/EditorUi.js"></script>
    <script type="text/javascript" src="../js/Editor.js"></script>
    <script type="text/javascript" src="../js/Graph.js"></script>
    <script type="text/javascript" src="../js/Threat.js"></script>
    <script type="text/javascript" src="../js/Consequence.js"></script>
    <script type="text/javascript" src="../js/Matrix.js"></script>
    <script type="text/javascript" src="../lib/mxgraph/src/js/mxClient.js"></script>
    <link rel="stylesheet" href="../css/risk_computation.css">
</head>
<body id="body">
    <div id="risk_container">
        <div id="buttons_container">
            <md-button id="threats_button" class="side_selection_button" v-on:click="currentTab = 'Threats'" :disabled="currentTab === 'Threats'">Threats</md-button>
            <md-button id="consequences_button" class="side_selection_button" v-on:click="currentTab = 'Consequences'" :disabled="currentTab === 'Consequences'">Consequences</md-button>
        </div>
        <div id="table_container">
            <keep-alive>
                <threats-component @threats="processThreats" v-if="currentTab === 'Threats'"></threats-component>
                <consequences-component @consequences="processConsequences" :event-probability="eventProbability" :highest-risk-value="highestRiskValue" v-else="currentTab === 'Consequences'"></consequences-component>
            </keep-alive>
        </div>
        <div id="result_container">
            <result-component :highest-risk-value="highestRiskValue" :accumulated-risk-value="accumulatedRiskValue" :event-probability="eventProbability" :missing-consequence="missingConsequence"></result-component>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>Vue.use(VueMaterial.default)</script>

    <!-- Component templates -->

    <script type="text/x-template" id="threats">
            <div>
                <md-toolbar :md-elevation="5">
                    <span class="md-title">Threats</span>
                </md-toolbar>
                <md-table>
                    <md-table-row>
                        <md-table-head class="description">Threat T<sub>i</sub></md-table-head>
                        <md-table-head class="indicator">Indicator</md-table-head>
                        <md-table-head class="probability" >Probability p(T<sub>i</sub>)</md-table-head>
                        <md-table-head class="details_button">Details</md-table-head>
                    </md-table-row >
                    <template v-for="threat in threats">
                        <md-table-row>
                            <md-table-cell class="description"> {{threat.name}}</md-table-cell>
                            <md-table-cell class="indicator" ><div class="indicatorDot" v-if="threat.allDefined()" style="width: 25px; height: 25px; border-radius: 20px;" :style="{background: threat.getColorIndicator()}"></div></md-table-cell>
                            <md-table-cell class="probability" >
                                <span v-if="!threat.allDefined()">Missing parameter(s)</span>
                                <span v-else>{{parseFloat((threat.getProbability()).toFixed(3))}}</span>
                            </md-table-cell>
                            <md-table-cell>
                                <md-button class="details_button" v-on:click="display_detail(threat)">{{getDetailsButtonText(threat)}}</md-button>
                            </md-table-cell>
                        </md-table-row>
                        <md-table-row class="detail_row" v-if="display_threat.includes(threat)">
                            <md-table-cell colspan="4">
                                <span class="threat_detail_span">
                                    <span class="threat_detail_cell">Threat Actors (ACT) :<md-field class="threat_detail_field"><md-input class="numeric_input" v-model="threat.threatActors" v-on:change="updateThreatActors(threat, $event)" type="number" min ="0" max="10" step="0.01"></md-input></md-field></span>
                                    <span class="threat_detail_cell">Opportunity (OPP) :<md-field class="threat_detail_field"><md-input class="numeric_input" v-model="threat.opportunity" v-on:change="updateOpportunity(threat, $event)" type="number" min ="0" max="10" step="0.01"></md-input></md-field></span>
                                    <span class="threat_detail_cell">Means (MEA) :<md-field class="threat_detail_field"><md-input class="numeric_input" v-model="threat.means" v-on:change="updateMeans(threat, $event)" type="number" min ="0" max="10" step="0.01"></md-input></md-field></span>
                                    <span class="threat_detail_cell">Motivations (MTV) :<md-field class="threat_detail_field"><md-input class="numeric_input" v-model="threat.motivation" v-on:change="updateMotivation(threat, $event)" type="number" min ="0" max="10" step="0.01"></md-input></md-field></span>
                                </span>
                            </md-table-cell>
                        </md-table-row>


                    </template>
                </md-table>
            </div>
    </script>

    <script type="text/x-template" id="consequences">

        <div>
            <md-toolbar :md-elevation="5">
                <span class="md-title">Consequences</span>
            </md-toolbar>
            <md-table>
                <md-table-row>
                    <md-table-head class="description">Consequence C<sub>j</sub></md-table-head>
                    <md-table-head class="impact_value" md-numeric>Impact Value L<sub>C<sub>j</sub></sub></md-table-head>
                    <md-table-head class="consequence_probability" md-numeric>Probability p(C<sub>j</sub>)</md-table-head>
                    <md-table-head class="risk_value" >Risk Value R(U)<sub>j</sub></md-table-head>
                </md-table-row >
                <md-table-row v-for="consequence in consequences" v-bind:key="consequence.name" v-bind:class='{"highest_rv_row" : isHighest(consequence)}'>
                    <md-table-cell class="description"> {{consequence.name}}</md-table-cell>
                    <md-table-cell class="impact_value" md-numeric><md-field class="consequence_field"><md-input class="numeric_input" v-model="consequence.impactValue" v-on:change="updateImpactValue(consequence, $event)" type="number" min ="0" step="0.01"></md-input></md-field></md-table-cell>
                    <md-table-cell class="consequence_probability" md-numeric><md-field class="consequence_field"><md-input class="numeric_input" v-model="consequence.probability" v-on:change="updateProbability(consequence, $event)" type="number" min ="0" max="1" step="0.01"></md-input></md-field></md-table-cell>
                    <md-table-cell class="risk_value" >
                        <span v-if="isNaN(eventProbability)">P(U) not defined</span>
                        <span v-else-if="!consequence.allDefined()">Missing parameter(s)</span>
                        <span v-else>{{parseFloat((consequence.impactValue * consequence.probability * eventProbability).toFixed(2))}}</span>
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </div>
    </script>

    <script type="text/x-template" id="result">
        <div>
            <md-toolbar :md-elevation="5">
                <span class="md-title">Results</span>
            </md-toolbar>
            <md-table>
                <md-table-row>
                    <md-table-cell class="result_description"><b> Probability that the unwanted event occurs : </b></md-table-cell>
                    <md-table-cell class="result_value">
                        <span v-if="eventProbability === 'missing_param' || eventProbability === 'no_matrix'">Missing parameter(s) on at least one threat</span>
                        <span v-else-if="eventProbability === 'no_threats'"> No threats were found on the diagram</span>
                        <span v-else>{{parseFloat((eventProbability).toFixed(3))}}</span>
                    </md-table-cell>
                    <md-table-cell class="result_button">
                        <md-button class="button_formula" v-on:click="showEventProbabilityFormula = !showEventProbabilityFormula">{{this.getFormulaButtonText("event")}}</md-button>
                    </md-table-cell>
                </md-table-row>
                <md-table-row class="formula_row" v-if="showEventProbabilityFormula">
                    <md-table-cell colspan="3">
                        <img class = "formula_image" src="../images/risk/event_probability_formula.png">
                    </md-table-cell>
                </md-table-row>
                <md-table-row>
                    <md-table-cell class="result_description">
                        <b> Highest risk value for one consequence occuring : </b>
                        <span v-if="missingConsequence" class="warning_missing_consequence"> <br>(Warning : One or multiples consequences parameters are missing)</span>
                    </md-table-cell>
                    <md-table-cell class="result_value">
                        <span v-if="isNaN(eventProbability)">P(U) not defined</span>
                        <span v-else-if="highestRiskValue === 'no_consequences'"> No consequences defined on the diagram</span>
                        <span v-else-if="highestRiskValue === 'none_defined'"> No consequences parameters defined</span>
                        <span v-else>{{parseFloat((highestRiskValue).toFixed(3))}}</span>
                    </md-table-cell>
                    <md-table-cell class="result_button">
                        <md-button class="button_formula" v-on:click="showHighestRiskValueFormula = !showHighestRiskValueFormula">{{this.getFormulaButtonText("highest")}}</md-button>
                    </md-table-cell>
                </md-table-row>
                <md-table-row class="formula_row" v-if="showHighestRiskValueFormula">
                    <md-table-cell colspan="3">
                        <img id ="highest_risk-value_image" class = "formula_image" src="../images/risk/highest_risk_value_formulas.png">
                    </md-table-cell>
                </md-table-row>
                <md-table-row>
                    <md-table-cell class="result_description">
                        <b> The accumulated risk value for all consequences occurring : </b>
                        <span v-if="missingConsequence" class="warning_missing_consequence"> <br>(Warning : One or multiples consequences parameters are missing)</span>
                    </md-table-cell>
                    <md-table-cell class="result_value">
                        <span v-if="isNaN(eventProbability)">P(U) not defined</span>
                        <span v-else-if="accumulatedRiskValue === 'no_consequences'"> No consequences defined on the diagram</span>
                        <span v-else-if="accumulatedRiskValue === 'none_defined'"> No consequences parameters defined</span>
                        <span v-else>{{parseFloat((accumulatedRiskValue).toFixed(3))}}</span>
                    </md-table-cell>
                    <md-table-cell class="result_button">
                        <md-button class="button_formula" v-on:click="showAccumulatedRiskValueFormula = !showAccumulatedRiskValueFormula">{{this.getFormulaButtonText("accumulated")}}</md-button>
                    </md-table-cell>
                </md-table-row>
                <md-table-row class="formula_row" v-if="showAccumulatedRiskValueFormula">
                    <md-table-cell colspan="3">
                        <img class = "formula_image" src="../images/risk/accumulated_risk_value_formula.png">
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </div>
    </script>
    <script src="../vue/components/risk/RiskComputationComponent.js"></script>
</body>
</html>
