<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <title>Risk computation</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        mxBasePath = '../../lib/mxgraph/src';
    </script>
    <script type="text/javascript" src="../js/Init.js"></script>
    <script type="text/javascript" src="../js/EditorUi.js"></script>
    <script type="text/javascript" src="../js/Editor.js"></script>
    <script type="text/javascript" src="../js/Graph.js"></script>
    <script type="text/javascript" src="../js/Threat.js"></script>
    <script type="text/javascript" src="../js/Consequence.js"></script>
    <script type="text/javascript" src="../js/Matrix.js"></script>
    <script type="text/javascript" src="../../lib/mxgraph/src/js/mxClient.js"></script>
    <link rel="stylesheet" href="../css/risk_computation.css">
</head>
<body id="body">
    <div id="risk_container">
        <div class="buttons_container">
            <md-button id="threats_button" v-on:click="currentTab = 'Threats'" :disabled="currentTab === 'Threats'">Threats</md-button>
            <md-button id="consequences_button" v-on:click="currentTab = 'Consequences'" :disabled="currentTab === 'Consequences'">Consequences</md-button>
        </div>
        <div class="table_container">
            <keep-alive>
                <threats-component v-if="currentTab === 'Threats'"></threats-component>
                <consequences-component v-else="currentTab === 'Consequences'"></consequences-component>
            </keep-alive>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>Vue.use(VueMaterial.default)</script>

    <script type="text/x-template" id="threats">
            <div>
                <md-table>
                    <md-table-row>
                        <md-table-head class="description">Threat</md-table-head>
                        <md-table-head class="indicator">Indicator</md-table-head>
                        <md-table-head class="probability" md-numeric>Probability</md-table-head>
                    </md-table-row >
                    <md-table-row v-for="threat in threats" v-bind:key="threat.getName()">
                        <md-table-cell class="description"> {{threat.getName()}}</md-table-cell>
                        <md-table-cell class="indicator" ><div class="indicatorDot" style="width: 25px; height: 25px; border-radius: 20px;" :style="{background: threat.getMatrix().getColorIndicator()}"></div></md-table-cell>
                        <md-table-cell class="probability" md-numeric>{{threat.getMatrix().getMeanValue()/10}}</md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
    </script>

    <script type="text/x-template" id="consequences">
        <div>
            <md-table>
                <md-table-row>
                    <md-table-head class="description">Consequence</md-table-head>
                    <md-table-head class="impact_value" md-numeric>Impact Value</md-table-head>
                    <md-table-head class="probability" md-numeric>Probability</md-table-head>
                </md-table-row >
                <md-table-row v-for="consequence in consequences" v-bind:key="consequence.name">
                    <md-table-cell class="description"> {{consequence.name}}</md-table-cell>
                    <md-table-cell class="impact_value" md-numeric><md-field><md-input ref="consequence" class="numeric_input" v-model="number" v-on:change="updateImpactValue(consequence, $event)"></md-input></md-field></md-table-cell>
                    <md-table-cell class="probability" md-numeric><md-field><md-input ref="" class="numeric_input" v-model="number" v-on:change="updateProbability(consequence, $event)"></md-input></md-field></md-table-cell>
                </md-table-row>
            </md-table>
            <button v-on:click="test()">Test</button>
        </div>
    </script>
    <script src="../vue/components/risk/RiskComputationComponent.js"></script>
</body>
</html>
