<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bowtie++ authorizations</title>

    <!-- scipts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="./js/Init.js"></script>

    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="css/validation.css" rel="stylesheet">

</head>
<body>
<div id="validation-vue">
    <div class="valid-container">
        <img id="validation-logo" src="images/logo.png">
        <div class="validation-titles">
            <h2 v-if="isRegistrationSuccessful" id="valid-email-title">E-mail successfully confirmed !</h2>
            <h2 v-else-if="errors.ExpiredTokenErr.show || errors.InvalidUrlErr.show || isPasswordIncorrect" id="error-title">Error</h2>
        </div>
        <div id="validation-message" class="m-3">
            <p v-if="isRegistrationSuccessful">Your registration is complete. You can now login normally on the login page.</p>
            <p v-else-if="isPasswordIncorrect">A problem has occured while resetting your password, make sure you have clicked on the right link or try again.</p>
            <p v-else-if="errors.ExpiredTokenErr.show">{{ errors.ExpiredTokenErr.message }}</p>
            <div v-else-if="errors.InvalidUrlErr.show">
                <p>{{ errors.InvalidUrlErr.message }}</p>
                <p>We are sorry, this page doesn't exist.</p>
            </div>
        </div>
        <button v-on:click="redirectLogin" type="button" class="validation-btn">Login page</button>
    </div>

</div>
</body>
<script type="text/javascript" src="vue/views/ValidationVue.js"></script>
</html>