doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
        // Nucleo Icons
        link(rel="stylesheet" href="css/nucleo-icons.css")
        link(rel="stylesheet" href="css/nucleo-svg.css")
        // Font Awesome Icons
        link(rel="stylesheet" href="css/font-awesome.css")
        link(rel="stylesheet" href="css/argon-design-system.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
    body
        .wrapper


            html
              body
                header.header-2.skew-separator
                  nav.navbar.navbar-expand-lg.bg-white.navbar-absolute
                    .container
                      .navbar-translate
                        a.navbar-brand(href='javascript:;') Bowtie++
                        |         
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#example-header-2', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                          span.navbar-toggler-icon
                      |       
                      #example-header-2.collapse.navbar-collapse
                      |       
                      ul.navbar-nav.mx-auto
                        li.nav-item
                          a.nav-link(href='javascript:;') Acceuil
                        |         
                        li.nav-item
                          a.nav-link(href='javascript:;') Le projet
                        |         
                        li.nav-item
                          a.nav-link(href='javascript:;') Fonctionnalits
                        |         
                        li.nav-item
                          a.nav-link(href='javascript:;') Equipe
                        |         
                        li.nav-item
                          a.nav-link(href='javascript:;')  propos
                  |   
                  .page-header
                    .page-header-image(style="background-image: url('argon_placeholder/ill/p8.svg')")
                    |     
                    .container.pt-300
                      .row
                        .col-md-8.mx-auto.text-center
                          h2.display-2 Bowtie++
                      |       
                      .row
                        .floating-box.bg-default
                          .box.text-center
                            .icon.icon-shape.bg-success.icon-xl.rounded-circle.text-white
                              i.ni.ni-tie-bow
                          |           
                          h2.lead.text-white.p-5
                            | Le projet a t initi par Per Hkon Meland, chercheur  SINTEF Digital, la plus grande organisation indpendante de recherche scientifique de Scandinavie.
                            | Son quipe sest intresse  lanalyse de risques en cyber-scurit et a mis en avant labsence doutils spcifiques de visualisation, simples dutilisation et couvrant  la fois les aspects de 
                            b safety
                            |  et 
                            b security
                            | .
                            |             Bowtie++ est une application Web dont le but est de rpondre  cette abscence d&apos;outils.


            html
              body
                section.section.project-presentation
                  .container
                    .row
                      .col-md-8.ml-auto.mr-auto.text-center
                        h3.display-3 Pr&eacute;sentation du projet
                        |         
                        p.lead.text-justify
                          | People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in?


            html
              body
                .section.features-2
                  .container
                    .row.align-items-center
                      .col-lg-4.col-md-8.mr-auto.text-left
                        .pr-md-5
                          .icon.icon-lg.icon-shape.icon-shape-primary.shadow.rounded-circle.mb-5
                            i.ni.ni-app
                          |           
                          h3 Fonctionnalit&eacute;s
                          |           
                          p
                            | Avec une architecture logicielle retravaill&eacute;e, Bowtie++ apporte un lot de nouvelles fonctionnalit&eacute;s.
                          |           
                          ul.list-unstyled.mt-5
                            li.py-2
                              .d-flex.align-items-center
                                div
                                  .badge.badge-circle.badge-primary.mr-3
                                    i.ni.ni-bold-right
                                |                 
                                div
                                  h6.mb-0 Conteneurisation Docker
                            |             
                            li.py-2
                              .d-flex.align-items-center
                                div
                                  .badge.badge-circle.badge-primary.mr-3
                                    i.ni.ni-bold-right
                                |                 
                                div
                                  h6.mb-0 Composants Vue.js
                            |             
                            li.py-2
                              .d-flex.align-items-center
                                div
                                  .badge.badge-circle.badge-primary.mr-3
                                    i.ni.ni-bold-right
                                |                 
                                div
                                  h6.mb-0 API Rest Django
                      |       
                      .col-lg-7.col-md-12.pl-md-0
                        .row
                          .col-lg-4.col-md-4
                            .info.text-left.bg-info.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-satisfied.text-info
                              |               
                              h5.info-title.text-white Best Quality
                              |               
                              p.description
                                | What matters is the people who are sparked by it. And the people who are like offended by it.
                          |           
                          .col-lg-4.col-md-4
                            .info.text-left.bg-danger.info-raised.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-palette.text-danger
                              |               
                              h5.info-title.text-white Awesome Design
                              |               
                              p.description
                                | Because it&apos;s about motivating the doers. Because I&rsquo;m here to follow my dreams and inspire the world.
                          |           
                          .col-lg-4.col-md-4
                            .info.text-left.bg-default.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-spaceship.text-default
                              |               
                              h5.info-title.text-white Great Performance
                              |               
                              p.description
                                | There&rsquo;s nothing I really wanted to do in life that I wasn&rsquo;t able to get good at. We&rsquo;re constantly growing.
                        |         
                        .row
                          .col-lg-4.col-md-4
                            .info.text-left.bg-primary.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-planet.text-primary
                              |               
                              h5.info-title.text-white Fast Development
                              |               
                              p.description
                                | I always felt like I could do anything. That&rsquo;s the main thing people are controlled by the force!
                          |           
                          .col-lg-4.col-md-4
                            .info.text-left.bg-warning.info-raised.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-glasses-2.text-warning
                              |               
                              h5.info-title.text-white Super Fresh
                              |               
                              p.description
                                | Thoughts- their perception of themselves! They&apos;re slowed down by their perception of themselves.
                          |           
                          .col-lg-4.col-md-4
                            .info.text-left.bg-success.shadow
                              .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
                                i.ni.ni-notification-70.text-success
                              |               
                              h5.info-title.text-white Organized Content
                              |               
                              p.description
                                | If you&apos;re taught you can&rsquo;t do anything, you won&rsquo;t do anything. I was taught I could do everything.


            html
              body
                section.section.team-2
                  .container
                    .row
                      .col-md-8.mx-auto.text-center.mb-5
                        h3.display-3 The Executive Team
                        |         
                        h4.lead
                          | This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.
                    |     
                    .row
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/ali-pazani.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Sofia Scarlett
                            |             
                            p.lead UX Designer
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Keen on great design
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/team-5.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Dylan Wyatt
                            |             
                            p.lead Team Lead
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Dedicated entrepreneur
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/atikh.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Mila Skylar
                            |             
                            p.lead Content Creator
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 High quality publication
                    |     
                    .row
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/ali-pazani.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Sofia Scarlett
                            |             
                            p.lead UX Designer
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Keen on great design
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Outdors lover
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Super friendly support team
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/team-5.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Dylan Wyatt
                            |             
                            p.lead Team Lead
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Dedicated entrepreneur
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Urban exploration
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Able to get good at everything
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/atikh.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Mila Skylar
                            |             
                            p.lead Content Creator
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 High quality publication
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Storytelling
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Master of words qualification
                    |     
                    .row
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/ali-pazani.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Sofia Scarlett
                            |             
                            p.lead UX Designer
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Keen on great design
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Outdors lover
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Super friendly support team
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/team-5.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Dylan Wyatt
                            |             
                            p.lead Team Lead
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 Dedicated entrepreneur
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Urban exploration
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Able to get good at everything
                      |       
                      .col-lg-4.col-md-6
                        .card.card-profile(data-image='profile-image')
                          .card-header
                            .card-image
                              .dropdown
                                button.btn.btn-link.dropdown-toggle.btn-icon-only(type='button', data-toggle='dropdown', aria-expanded='false')
                                  i.ni.ni-settings-gear-65
                                |                 
                                .dropdown-menu.dropdown-menu-right(x-placement='bottom-end')
                                  a.dropdown-item(href='javascript:;') Edit Profile
                                  a.dropdown-item(href='javascript:;') Settings
                                  a.dropdown-item(href='javascript:;') Log out
                              |               
                              a(href='javascript:;')
                                img.img.rounded(src='argon_placeholder/faces/atikh.jpg')
                          |           
                          .card-body.pt-0
                            h4.display-4.mb-0 Mila Skylar
                            |             
                            p.lead Content Creator
                            |             
                            .table-responsive
                              ul.list-unstyled
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-info.mr-3
                                        i.ni.ni-atom
                                    |                     
                                    div
                                      h6.mb-1 High quality publication
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-success.mr-3
                                        i.ni.ni-user-run
                                    |                     
                                    div
                                      h6.mb-1 Storytelling
                                |                 
                                li.py-1
                                  .d-flex.align-items-center
                                    div
                                      .badge.badge-circle.badge-danger.mr-3
                                        i.ni.ni-chart-bar-32
                                    |                     
                                    div
                                      h6.mb-1 Master of words qualification
        // Core JS Files
        script(src="js/core/jquery.min.js" type="text/javascript")
        script(src="js/core/popper.min.js" type="text/javascript")
        script(src="js/core/bootstrap.min.js" type="text/javascript")
        script(src="js/plugins/perfect-scrollbar.jquery.min.js")
        // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
        script(src="js/plugins/bootstrap-switch.js")
        // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
        script(src="js/plugins/nouislider.min.js" type="text/javascript")
        // Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/
        script(src="js/plugins/glide.js" type="text/javascript")
        // Plugin for the DatePicker, full documentation here: https://flatpickr.js.org/
        script(src="js/plugins/moment.min.js")
        // Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/
        script(src="js/plugins/choices.min.js" type="text/javascript")
        // Plugin for the DateTimePicker, full documentation here: https://flatpickr.js.org/
        script(src="js/plugins/datetimepicker.js" type="text/javascript")
        // Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput
        script(src="js/plugins/jasny-bootstrap.min.js")
        // Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/
        script(src="js/plugins/headroom.min.js")
        // Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc
        script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" type="text/javascript")
        script(src="js/argon-design-system.min.js?v=1.0.2" type="text/javascript")
        script.
            function argonScripts() {
                if (document.querySelectorAll('.glide').length) {
                    // Carousel
                    new Glide('.glide', {
                        type: 'carousel',
                        startAt: 0,
                        focusAt: 2,
                        perTouch: 1,
                        perView: 4
                    }).mount();
                }

                if (document.querySelectorAll('.testimonial-glide').length) {
                    // Testimonial Carousel
                    new Glide('.testimonial-glide', {
                        type: 'carousel',
                        startAt: 0,
                        focusAt: 2,
                        perTouch: 1,
                        perView: 4
                    }).mount();
                }

                if (document.querySelectorAll('.map').length) {
                    ArgonKit.initGoogleMaps();
                    ArgonKit.initGoogleMaps2();
                }
            }
            argonScripts();